# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
idea
.idea
debug
.debug
debug.log
/.idea


# production
#build
build
build/css
build/js
build/index.html
build/components
build/fonts
resources
debug.log
.vscode
/.vscode

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*


/build/vendor/
/build/composer.lock
/composer.lock
### Composer template
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
/build/app/DataBase.php

#python
__pycache__
api/__pycache__