@import '../../node_modules/normalize.css/normalize.css';


@import "./variables";
@import "./fonts";

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 10px;
  line-height: 1.2;
  color: black;

}

input, textarea, select, img, a, button, h1, h2, h3, h4, h5, p, ul, ol, li {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
}

:global {
  #root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;


  }
}


:global {
  background: red;
}

a,
button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;

}

img {
  max-width: 100%;
}

* {
  cursor: default !important;
  box-sizing: border-box;
  color: #fafcfb;
  text-transform: uppercase;
  font-family: 'Noto Sans Mono', monospace;
  user-select: none;
  touch-action: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  pointer-events: none
}
