$mobile:            320px;
$tablet:            768px;
$laptop:            1240px;
$desktop:           1440px;
$xdesktop:          1920px;

//colors
$white: #fafcfb;
$yellow: #ffb50e;
$black: #111;
$primary: $yellow;