@import "../../styles/mixins";

.block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}


.item {
  width: 5.4rem;
  height: 5.4rem;
  border: 4px solid transparent;

  &:hover {
    border-color: rgba($white, 0.5);
    transform: scale(1.1);
  }

  &.active {
    border-color:  $white;
  }
}