@import "../../styles/mixins";

.field {
  display: block;

  position: relative;
  transform: translate(75rem, 75rem);
}


.table {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 200rem;
  height: 200rem;
  background: transparent;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}

.cell {
  position: relative;
  width: 20rem;
  height: 20rem;
  opacity: 0;

  &:nth-child(2n) {
    top: 15rem;
  }

  &.active {
    opacity: 1;


  }

  &.neighbor .cell_background {
    //outline-color: $primary;
    filter: grayscale(30%);
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($primary, 0.4);
    }
  }


  &.selected .cell_background {
    filter: grayscale(60%);
  }


}

.cell_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  outline: 0.5rem solid transparent;
  filter: grayscale(20%);
  outline-offset: -0.7rem;
  box-shadow: inset 0 0 0.3rem 0.1rem rgba(0,0,0,0.9);
}

.soldiers {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 18rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;


}

.soldier {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: auto 6rem;
  background-position: center center;
  box-shadow:  0.3rem 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.1), inset -0.1rem -0.2rem 0.1rem 0.1rem rgba(0,0,0,0.2);

  &:hover {
    border: 0.3rem solid $primary;
  }

  &.selected {
    border: 0.3rem solid $primary;

  }
}