@import "../../styles/mixins";

.Field {
  display: block;
  position: relative;
  top: 100rem;
  left: 80rem
}


.table {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 300rem;
  height: 300rem;
  background: transparent;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}

.cell {
  position: relative;
  width: 30rem;
  height: 30rem;
  background-size: contain;
  filter: grayscale(20%);


  &:nth-child(2n) {
    top: 15rem;
  }

  &.active {
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.9);
    outline: 5px solid transparent;
    outline-offset: -5px;

    &:hover {
      //position: relative;
      //z-index: 10;
      //outline-color: $primary;
    }

  }


}