@import "../../styles/mixins";

.settings {

}

.settings__title {
  display: block;
  font-size: 3.2rem;
  padding: 0 1rem;
  font-weight: bold;
}

.settings__subtitle {
  display: block;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  margin-top: 1.4rem;
}

.settings__block {
  margin-bottom: 2.6rem;

  &.disabled {
    opacity: 0.3;
    pointer-events: none;

  }
}

.settings__fieldset {
  width: 50rem;
  height: 26rem;
  margin-right: 4rem;

  //padding: 0;
  //border: none;
  padding: 1rem 4rem;
  margin-bottom: 2rem;


}

.settings__language {
  padding: 0.8rem 0;
}

.settings__theme {
  padding: 0.8rem 0;
}

.settings__range {
  width: 27rem;
  padding: 0.8rem 0;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.audio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.audio__left {
  width: 12rem;
}

.audio__right {

}

.audio__toggler {
  margin-top: 2rem;
}