<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
    <meta charset="UTF-8">
    <title>Normandy</title>
</head>
<body>
    <h1>Undaunted: Normandy</h1>
    <div class="description">
        <h2>Prepare!</h2>
        <p>June, 1944: Through the D-Day landings, the Allies have seized a foothold on the beaches of Normandy. Now you must lead your troops forward as you push deeper into France and drive the German forces back. You will face intense resistance, machine gun fire, and mortar bombardment, but a great commander can turn the situation to their advantage!</p>
    </div>
</body>
</html>
